.music_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    /* color: rgb(158, 77, 77); */
  }
  .music_controls{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  .music_controls .play{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 2px solid black;
    width: 50px;
    border-radius: 8px;
  }
  .music_controls .play:hover{
    background: black;
    height: 33px;
    width: 51px;
    transition: 0.5s;
  }
  .music_controls .play:hover i{
    filter: invert(100%);
  }
  